.donationCard {
	word-break: keep-all;
	line-height: 24px;
	text-align: center;
	background-image: url(../img/donationcard_bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-shadow: 0 0 8px #4e4e4e;
	color: transparent;

	position: fixed;
	top: 139px;
	right: 20px;
	width: 140px;
	height: 175px;
	border-radius: 10px;
	font-size: 18px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.donationCard ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
}

.donationCard ul li:nth-child(2) {
	border: 1px;
	background-color: #0e4637;
	color: #f7fafb;
	border-radius: 12px;
	margin: 3px;
	font-size: 13px;
	width: 107px;
}

.donationCard ul li:nth-child(2):hover {
	cursor: pointer;
	color: #e1e0e0;
	box-shadow: 0 0 2px #333;
}

.cancelButt {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(252, 245, 224);
	border: 1px;
	border-radius: 5px;
	color: #083126;
	opacity: 90%;
	font-size: 10px;
	width: 15px;
	height: 16px;
	margin-bottom: 7px;
}

.cancelButt:hover {
	cursor: pointer;
	background-color: rgb(200, 195, 180);
	box-shadow: 0 0 2px #333;
}
