section {
    height: 1000px;
}

/*배경 영상*/
.videoSection {
    position: relative;
    height: 500px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoSection .youtubePlayer {
    position: absolute;
    height: 100%;
    width: 99%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player {
    position: absolute;
    width: 100%;
    height: 120%;
    top: 0;
    left: 0;
}

.videoSection .youtubePlayer .youtubeCover {
    position: absolute;
    background-image: url("../img/youtubeCover.png");
    width: 100%;
    height: 100%;
    opacity: 0;
}

.videoSection .youtubeH3 {
    position: absolute;
    margin: 0 auto;
    top: 56%;
    font-size: 30px;
    opacity: 50%;
    color: whitesmoke;
    opacity: 0;
    font-family: "Cormorant Garamond", serif;
}

/*캠페인 바로가기*/
.goToCampaignSection {
    border: 1px solid rgb(0, 255, 115);
    position: relative;
    height: 500px;
}

.goToCampaignSection .goToCampaignContainer {
    border: 1px solid rgb(0, 255, 115);
    width: 100%;
    height: 200px;
}

.goToCampaignSection .goToCampaignContainer ul {
}
.goToCampaignSection .goToCampaignContainer ul .bg1 {
}
.goToCampaignSection .goToCampaignContainer ul li {
}
.goToCampaignSection .goToCampaignContainer ul li .bg2 {
}

.goToCampaignSection .goToCampaignContainer ul li .inner {
}
.goToCampaignSection .goToCampaignContainer ul li .inner p {
}
.goToCampaignSection .goToCampaignContainer ul li .inner button {
}

.goToCampaignSection .goToCampaignContainer h3 {
}

.goToCampaignSection .swiper {
    position: absolute;
    width: 50%;
    height: 200px;
}
