p {
    word-break: break-all;
}

.business-section {
    width: 100%;
}
/* 가장 먼저 위에 보이는 사진 */
.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.intro-section p {
    height: 400px;
    position: absolute;
    display: flex;
    top: 350px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(250, 251, 253);
    width: 200px;
    height: 200px;
    word-break: break-all;
}

/* 서브 메뉴 네비바*/
.subMenus-section {
    width: 100%;
}
.subMenus-section ul {
    border-bottom: 2px solid rgb(237, 237, 238);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

.subMenus-section ul li {
    display: flex;
}

.subMenus-section ul li a {
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(57, 57, 58);
}

.subMenus-section ul li a:hover {
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(15, 15, 95);
}

/*                                          */

.purpose {
    width: 100%;
    height: 200px;
    border: red solid 3px;
    text-align: center;
}
.purpose-head {
    margin-top: 20px;
    font-size: 30px;
}

.purpose-content {
    margin-top: 50px;
    line-height: 30px;
    font-size: 22px;
}

.problem {
    width: 100%;
    height: 500px;
    border: yellow solid 3px;
    display: flex;
    align-items: center;
}

.problem .problem-text {
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.problem .problem-image {
    width: 50%;
    height: 100%;
}

.problem img {
    width: 100%;
    height: 100%;
}

.business-project {
    width: 100%;
    height: 500px;
    border: green solid 3px;
}
.project-head {
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
}
.project-contents {
    display: flex;
    margin-top: 100px;
}

.project-contents > div {
    border: blue solid 3px;
    height: 300px;
    width: 33%;
    text-align: center;
    vertical-align: middle;
}

/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

#image-container {
    margin: auto;
    height: 100%;
}
