body,
html {
	width: 100%;
	margin: 0;
	padding: 0;
}
/* 가장 먼저 위에 보이는 사진 */
.intro-section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 120px;
	width: 100%;
	height: 400px;
	background-image: url(/img/donation02-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.intro-section p {
	height: 100px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	color: rgb(250, 251, 253);
	width: 200px;
	word-break: keep-all;
}

/* 서브 메뉴 네비바*/
.subMenus-section {
	background-color: beige;
	position: relative;
	display: flex;
	z-index: 1;
	top: 110px;
	width: 100%;
}
.subMenus-section ul {
	border-bottom: 2px solid rgb(237, 237, 238);
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 80px;
}

.subMenus-section ul li {
	display: flex;
}

.subMenus-section ul li a {
	font-size: 20px;
	font-family: 'Noto Sans KR', sans-serif;
	color: rgb(57, 57, 58);
}

.subMenus-section ul li a:hover {
	font-size: 20px;
	font-family: 'Noto Sans KR', sans-serif;
	color: rgb(15, 15, 95);
}

/* 후원02 바디 시작. */

.donation-use {
	justify-content: center;
	margin-top: 150px;
	width: 90%;
	padding-left: 5vw;
	height: 100%;
}
.donation-use-text {
	/* width: 100%; */
	padding: 50px;
	line-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-bottom: 1px solid black;
}
.donation-use-text h2 {
	font-size: 34px;
	padding-bottom: 20px;
	line-height: 1.3;
}

.donation-use-text p {
	margin-top: 10px;
	font-size: 20px;
}

.donation-img {
	padding: 30px 0px;
	text-align: center;
	border-bottom: 1px solid black;
}

.donation-img-text P {
	margin-bottom: 20px;
	/* width: 100%; */
	font-size: 30px;
}

.donation-img-section {
	display: flex;
	width: 100%;
	padding: 10px 0px;
	align-items: center;
	justify-content: center;
}
.donation-img-content {
	padding: 10px;
	width: 10%;
}

.donation-img-content p {
	padding: 10px;
	line-height: 1.2;
}

.img-percent {
	font-size: 25px;
	color: green;
}

.donator {
	display: flex;
	width: 100%;
	padding: 50px 0px;
	border-bottom: 1px solid #000;
}
.donator-info {
	width: 100%;
}
.donator-check {
	width: 100%;
	padding-bottom: 40px;
	padding-left: 80px;
}

.donator_subject {
	display: flex;
	font-size: 30px;
	height: 50px;
	box-sizing: border-box;
	margin-bottom: 20px;
	line-height: 1.5;
}
.donator_subject_sub {
	display: flex;
	padding-bottom: 15px;
}
.lab {
	width: 20%;
	line-height: 45px;
	text-align: left;
	color: #2b2b2b;
}
.label_input {
	display: flex;
	padding-bottom: 15px;
	flex-direction: row;
}
.in {
	display: flex;
	width: 40%;
}

.donator_button {
	text-align: center;
	align-items: center;
	justify-content: center;
}
.btn {
	background-color: rgb(0, 0, 0);
	color: white;
	width: 220px;
	height: 50px;
	border-radius: 10px;
	font-size: 18px;
	font-family: 'Noto Sans KR', sans-serif;
	cursor: pointer;
}

.donator_img {
	width: 100%;
	display: flex;
	/* 배경 이미지 URL을 여기에 입력하세요. */

	background-image: url('/img/donation02/donation02_thanks.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	/* 배경 이미지의 위치를 가운데 정렬 */
	background-position: center;
	/* 페이지 전체에 배경을 적용 */
	margin: 0;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.donator_salute {
	width: 90%;
	font-size: 3vw;
	display: flex;
	color: white;
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
		1px 1px 0 black;
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
	/*(공통)서브 메뉴 글자*/
	.subMenus-section {
		display: block;
		margin-top: 10px;
	}
	.subMenus-section ul li a {
		font-size: 16px;
	}
	/*(공통)인트로 배경 글자*/
	.intro-section p {
		font-size: 30px;
	}

	.donation-use-text h2 {
		font-size: 22px;
	}

	.donation-use-text p {
		br {
			display: none;
		}
		font-size: 14px;
	}

	.donation-img-section {
		flex-direction: column;
	}
	.donation-img-content {
		width: 100%;
	}
	.donation-img-text P {
		font-size: 25px;
	}
	.donator {
		flex-direction: column;
		padding: 0px;
	}
	.in {
		width: 60%;
	}
	.donator-check {
		padding: 15px 0 0 15px;
	}
	.donator_img {
		height: 100px;
		margin: 10px 0 150px 0;
	}
	.donator_salute {
		font-size: 5vw;
	}
}
