body {
    /* font-size: 16px; */
    background-color: rgb(245, 246, 246);
    font-family: "Noto Sans KR", sans-serif;
    height: 100%;
}

.wrap {
    position: relative;
    min-height: 100%;
    padding-bottom: 100px;
}
li a {
    text-decoration: none;
    color: rgb(30, 30, 30);
    font-weight: bold;
    font-size: 12px;
}

li a:hover {
    color: rgb(91, 87, 86);
    font-weight: bold;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navbar {
    height: 50px;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.navbar a {
    font-size: 13px;
}

.navbar-menu {
    display: flex;
}

.navbar-menu > li {
    padding-left: 10px;
}

.n-2 {
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(237, 237, 238);
    border-bottom: 1px solid rgb(237, 237, 238);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.navbar-main-menu {
    display: flex;
    width: 100vw;
    height: 30px;
    align-items: center;
    position: relative;
}

.main_menu__name {
    margin: 0 auto;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main_menu__name > a {
    font-size: 20px;
    color: rgb(57, 57, 58);
    font-weight: bold;
}

.main-menu ul li {
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.7);
    align-items: center;
    position: relative;
    top: -2vh;
    width: 19vw;
    text-align: center;
    line-height: 25px;
    word-break: keep-all;
}

.main-menu ul li:nth-child(2),
.main-menu ul li:nth-child(3) {
    border-top: 1px solid rgb(197, 197, 199);
}

.main-menu ul li:last-child {
    border-radius: 0 0px 10px 10px;
}

.main-menu a {
    margin: 0 auto;
    color: rgb(29, 29, 29);
    font-weight: normal;
    font-size: 16px;
    padding: 12px 0;
}

.main-menu a:hover {
    color: rgb(78, 79, 79);
}

/* 이미 있는 스타일 */
.content-section {
    text-align: center;
}

.center-text {
    margin-bottom: 20px;
}

.content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-item {
    max-width: 400px;
    text-align: left;
}

.content-inner {
    display: flex;
    align-items: center;
}

.content-inner img {
    max-width: 100%;
    margin-right: 20px;
}

/* 추가된 부분 */
article p {
    text-orientation: mixed; /* 세로 쓰기 방지 */
    white-space: nowrap; /* 줄 바꿈 방지 */
}

article h2 {
    font-size: 28px; /* 글씨 크기 키우기 */
}




.join-us-section {
    margin-top: 200px;
    height: 500px;
    background-color: rgb(22, 22, 22);
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(35, 34, 34), rgb(0, 0, 0));
}

.join-us-section ul {
    word-break: keep-all;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vh;
    height: 300px;
}

.join-us-section img {
    /* border: 1px solid transparent;
    border-radius: 50%; */
    box-shadow: 0px 0px 10px #000000;
    height: 40vh;
    width: 30vw;
    filter: brightness(90%);
}



section{
    margin-top:170px;
    position: relative;
    width:100%;
}
.center-head{
    text-align: center;
    color: black; 
    font-size: 30px;
}

.contents{
    position: relative;
    /* border: 1px solid #ccc; */
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4)); */

}

.content1{
    display: flex;
    padding: 50px 50px;

}
.content1>img{
    width:60%;
    border-radius: 10px;
    margin-right:20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}

.content1-text{
    margin-left:40px;
}

.shadow-text span{
    font-size:70px;
    color: #AAA;
    
}

.content-text span{
    color: #AAA;

}


.shadow-text{
    justify-self: center;
    align-items: center;
}
.shadow-text div {
    font-size:50px;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7); /* 그림자 효과 설정 */

    opacity: 0;
    animation: fadeIn 1.5s forwards;
}


.shadow-text div:nth-child(1) {
    animation-delay: 0s;
}

.shadow-text div:nth-child(2) {
    animation-delay: 0.5s;
}

.shadow-text div:nth-child(3) {
    animation-delay: 1s;
}

.shadow-text div:nth-child(4) {
    animation-delay: 1.5s;
}


.content1-text .content-text{
    
    opacity: 0;
    animation: fadeIn 1.5s forwards;
    animation-delay:2.0s;
    margin-top:60px;

}

.content-text div{
    margin-bottom:20px;
    line-height: 1.5;
}

.content-text{
    color: black; 
    font-size:20px;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* 그림자 효과 설정 */

}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.content2{
    display: flex;
    padding: 50px 50px;

}
.google-map{
    position: relative;
    height: 400px;
    width:50%;
    margin-right: 30px;
}
.content2 .content-text{
    margin-top: 80px;
}










footer {
    position: absolute;
    bottom: 0;
    font-size: 10px;
    text-indent: 23px;
    height: 100px;
    width: 100%;
    background-color: rgb(65, 67, 67);
    padding-top: 20px;
    line-height: 23px;
}

footer a {
    font-size: 10px;
    color: rgb(106, 107, 107);
}

footer .info .inner {
    display: flex;
    flex-direction: row;
}
footer .address .inner {
    display: flex;
    flex-direction: row;
}
footer .copyright .inner {
    display: flex;
    flex-direction: row;
}

/*미디어 쿼리로 메뉴 가로 길이 조절하기*/
